<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
	   internalLogFile="c:\temp\internal-nlog-AspNetCore3.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <variable name="logDirectory" value="${basedir}/logs/"/>
  <variable name="nodeName" value="${configsetting:item=NodeName}"/>
  <variable name="indexName" value="${configsetting:item=IndexName}"/>

  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file  -->
    <target xsi:type="File" name="allfile"
				fileName="${logDirectory}/nlog-all/${shortdate}.log"
				layout="#${longdate}#${aspnet-request-ip:CheckForwardedForHeader=true}#${aspnet-request-headers:HeaderNames=X-Forwarded-For}#${uppercase:${level}}#${aspnet-request-url:IncludeHost=true:IncludePort=true:IncludeQueryString=true:IncludeScheme=true}#${aspnet-request-method}#${callsite}#${callsite-linenumber}#${message}#${exception:format=ToString}#${aspnet-request-form}#${aspnet-user-identity}#${nodeName}#${indexName}#"
				 keepFileOpen="false"/>
    <!-- 本地文件日志target -->
    <target xsi:type="File" name="ownLog-file"
				fileName="${logDirectory}/nlog-${level}/${shortdate}.log"
				layout="#${longdate}#${aspnet-request-ip:CheckForwardedForHeader=true}#${aspnet-request-headers:HeaderNames=X-Forwarded-For}#${uppercase:${level}}#${aspnet-request-url:IncludeHost=true:IncludePort=true:IncludeQueryString=true:IncludeScheme=true}#${aspnet-request-method}#${callsite}#${callsite-linenumber}#${message}#${exception:format=ToString}#${aspnet-request-form}#${aspnet-user-identity}#${nodeName}#${indexName}#"
				keepFileOpen="false"/>

    <target xsi:type="Network" name="ownLog-TS"
                keepConnection="false"
                address ="${configsetting:item=NSQ}"
                layout="#${longdate}#${aspnet-request-ip:CheckForwardedForHeader=true}#${aspnet-request-headers:HeaderNames=X-Forwarded-For}#${uppercase:${level}}#${aspnet-request-url:IncludeHost=true:IncludePort=true:IncludeQueryString=true:IncludeScheme=true}#${aspnet-request-method}#${callsite}#${callsite-linenumber}#${message}#${exception:format=ToString}#${aspnet-request-form}#${aspnet-user-identity}#${nodeName}#${indexName}#" />
    <!--空白-->
    <target xsi:type="Null" name="blackhole" />

  </targets>


  <!-- rules to map from logger name to target -->
  <rules>
    <!--全部日志, 包括Microsoft日志-->
    <logger name="*" minlevel="Error" writeTo="allfile" />
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />

    <!--自定义日志，排除Microsoft日志-->
    <!--<logger name="*" minlevel="Debug" writeTo="ownLog-file"/>-->
    <logger name="*" minlevel="Info" writeTo="ownLog-file,ownLog-TS"/>
  </rules>
</nlog>